#conatainer{
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    /* padding: 40px; */
}
.dash{
    background-color: black;
    width: 88%;
    color: white;
    padding: 10px;
    padding-left: 20px;
}
#btn{
    background-color: black;
    color: white;
    width: 20%;
    padding: 3px;
    margin-top: 20px;
    /* margin-left: 20px; */
}
#item-2{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
table{
    width: 90%;
    border-collapse: collapse;
    font-size: small;
}
table th,table td{
    border: 1px solid black;
    text-align: center;
    padding: 2px 5px;
}